<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Document</title>
</head>

<body>
    <header class="py-4 px-4 absolute top-0 left-0 right-0 z-0">
        <div class="container mx-auto flex items-center justify-between">
            <h1 class="logo text-primary-foreground text-2xl font-semibold">polymath.ai</h1>
            <nav class="py-2 px-4 rounded-3xl bg-light-blue">
                <ul class="flex items-center gap-6">
                    <li>
                        <a href="/" class="text-lg mx-3 cursor-pointer">Polymaths</a>
                    </li>
                    <li>
                        <a href="/" class="text-lg mx-3 cursor-pointer">About</a>
                    </li>
                    <li>
                        <a href="/" class="text-lg mx-3 cursor-pointer">Pricing</a>
                    </li>
                    <li>
                        <a href="/" class="text-lg mx-3 cursor-pointer">Resources</a>
                    </li>
                    <li>
                        <a href="/" class="text-lg mx-3 cursor-pointer">Contact</a>
                    </li>
                </ul>
            </nav>

            <div class="flex items-center gap-4">
                <a href="/" class="text-primary-foreground text-lg">Log In</a>
                <a href="/" class="btn greadint">Hire Polymath</a>
            </div>
        </div>
    </header>

    <section class=" relative">

        <div class="absolute top-0 left-0 -z-30 right-0">
            <div class="w-full h-full relative">
                <div
                    class="bg-[#71A7FF]/30 absolute rounded-full w-[512px] h-[778.68px] -rotate-[105.77deg] top-[10.58px] blur-[200px]">

                </div>
                <div
                    class="bg-[#775AFF]/10 absolute rounded-full w-[607.82px] h-[453px] -rotate-[135.45deg] top-[100.84px]  blur-[200px]">

                </div>

                <div
                    class="bg-[#775AFF]/10 rounded-full absolute w-[1007px] h-[664px] top-[193px] left-[600px] blur-[200px]">

                </div>
                <div
                    class="bg-[#71A7FF]/30 rounded-full absolute w-[630px] h-[664px] -top-[68px] left-[600px] blur-[200px]">

                </div>
            </div>
        </div>

        <div class="absolute top-0 left-0 right-0 -z-20">
            <div class="w-full h-full relative">
                <img src="/public/1.png" class="w-[600px] h-[896px] top-[-16rem] left-[-8rem] relative" />
                <img src="/public/2.png" class="w-[600px] h-[896px] top-[-3rem] right-[-5rem] absolute" />
            </div>
        </div>

        <div class="absolute top-0 left-0 right-0 -z-10">
            <div class="w-full h-full relative">
                <img src="/public/l1.png"
                    class="w-[600px] h-[896px] rotate-[77.79] top-[400px] -left-[500px] absolute" />
                <img src="/public/l1.png"
                    class="w-[500px] h-[750px] rotate-[77.79] top-[200px] -right-[300px] absolute" />
            </div>
        </div>


        <div class="absolute top-0 left-0 right-0  z-10 pt-32">
            <div class="container mx-auto flex flex-col md:flex-row gap-5 relative px-5">
                <div class="w-full md:w-[50%]">
                    <h1 class="text-2xl md:text-4xl font-semibold text-dark-blue font-days-one">
                        We Create <span class="greadint text-gradient">Empowering</span> <span
                            class="greadint text-gradient">Teams</span> With Intelligent Collaboration
                    </h1>

                    <div class="py-1 px-2 rounded-3xl border-2 border-dark-blue bg-light-blue my-5 flex gap-2">
                        <input type="text" class="flex-1 bg-light-blue border-none outline-none"
                            placeholder="Enter your email" />
                        <button class="greadint rounded-3xl text-white py-2 px-4">Send email</button>
                    </div>

                    <p class="text-xl text-dark-blue mb-5">
                        Polymaths are AI digital workers that integrate seamlessly with human teams.
                    </p>
                    <div class="flex items-center gap-8">
                        <button class="greadint rounded-3xl text-white py-2 px-6 text-lg">Hire Polymath</button>
                        <button
                            class="bg-light-blue rounded-3xl border-2 border-dark-blue text-dark-blue py-2 px-6 text-lg">Meet
                            All Polymath.Ai</button>
                    </div>
                </div>
                <div class="w-full md:w-[50%]">
                    <div class="bg-bg-primary border border-bg-secondary rounded-xl p-4">
                        <h1 class="text-2xl md:text-4xl font-semibold text-dark-blue text-center">
                            Meet the First <span class="greadint text-gradient block mt-1">Polymath.Ai</span>
                        </h1>
                        <p class="text-dark-blue font-light text-center mt-5">
                            Polymaths are AI digital workers that integrate seamlessly with human teams, she can be
                            onboarded in 10 minutes.
                        </p>

                        <img src="/public/Video.png" class="mx-auto mt-4" />
                        <button class="greadint rounded-3xl text-white py-2 px-6 text-lg mt-4 mx-auto block">Discover
                            Polymath.Ai</button>
                    </div>
                </div>
            </div>



            <div class="mt-20 container mx-auto px-5">
                <h1 class="text-2xl md:text-4xl font-semibold text-dark-blue font-days-one text-center">
                    Polymath.Ai Are Pioneering the Era <br /> of Human-Like Digital Workers
                </h1>


                <div class="flex flex-wrap justify-between items-center gap-5 mt-10">
                    <div class="w-[20rem] bg-bg-primary rounded-xl border border-bg-secondary p-4">
                        <img src="/public/c1.png" class="mx-auto" />
                        <div class="mt-4 max-auto">
                            <h3 class="text-xl text-dark-blue font-days-one">
                                Seamless End-to-End Workflow Automation
                            </h3>
                            <p class="text-dark-blue font-light mt-2">
                                Polymaths go beyond automating mundane tasks; they streamline entire job functions from
                                start to finish.
                            </p>
                        </div>
                    </div>
                    <div class="w-[20rem] bg-bg-primary rounded-xl border border-bg-secondary p-4">
                        <img src="/public/c1.png" class="mx-auto" />
                        <div class="mt-4 max-auto">
                            <h3 class="text-xl text-dark-blue font-days-one">
                                Seamless End-to-End Workflow Automation
                            </h3>
                            <p class="text-dark-blue font-light mt-2">
                                Polymaths go beyond automating mundane tasks; they streamline entire job functions from
                                start to finish.
                            </p>
                        </div>
                    </div>
                    <div class="w-[20rem] bg-bg-primary rounded-xl border border-bg-secondary p-4">
                        <img src="/public/c1.png" class="mx-auto" />
                        <div class="mt-4 max-auto">
                            <h3 class="text-xl text-dark-blue font-days-one">
                                Seamless End-to-End Workflow Automation
                            </h3>
                            <p class="text-dark-blue font-light mt-2">
                                Polymaths go beyond automating mundane tasks; they streamline entire job functions from
                                start to finish.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-20 container mx-auto px-5">
                <h1 class="text-2xl md:text-4xl font-semibold text-dark-blue font-days-one text-center">
                    Artisans
                </h1>


                <div class="flex flex-wrap justify-between items-center mt-10">
                    <div class="w-[20rem] bg-bg-primary rounded-xl border border-bg-secondary p-4 relative mt-28 pt-16">
                        <img src="/public/e1.png"
                            class="p-3 border border-bg-secondary w-[8rem] h-[8rem] rounded-full absolute top-[-14%] left-[50%] -translate-x-[50%]" />
                        <div class="mt-4 max-auto">
                            <h3 class="text-xl text-dark-blue font-days-one text-center">
                                Anna, The Sales Rep
                            </h3>
                            <p class="text-bg-secondary text-center font-normal mt-4">
                                Supercharge your outbound sales, at scale
                            </p>
                            <ul class="mt-4 list-disc pl-6 marker:text-dark-blue/55">
                                <li>
                                    <p class="text-dark-blue font-light mt-2 text-xs">
                                        Discovers leads with 250 million contacts & 65 data points
                                    </p>
                                </li>
                                <li>
                                    <p class="text-dark-blue font-light mt-2 text-xs">
                                        Discovers leads with 250 million contacts & 65 data points
                                    </p>
                                </li>
                                <li>
                                    <p class="text-dark-blue font-light mt-2 text-xs">
                                        Discovers leads with 250 million contacts & 65 data points
                                    </p>
                                </li>
                                <li>
                                    <p class="text-dark-blue font-light mt-2 text-xs">
                                        Discovers leads with 250 million contacts & 65 data points
                                    </p>
                                </li>
                            </ul>

                            <button class="greadint rounded-3xl text-white py-2 px-6 text-lg mt-4 mx-auto block">Join
                                Waitlist</button>

                        </div>
                    </div>
                    <div class="w-[20rem] bg-bg-primary rounded-xl border border-bg-secondary p-4 relative mt-28 pt-16">
                        <img src="/public/e1.png"
                            class="p-3 border border-bg-secondary w-[8rem] h-[8rem] rounded-full absolute top-[-14%] left-[50%] -translate-x-[50%]" />
                        <div class="mt-4 max-auto">
                            <h3 class="text-xl text-dark-blue font-days-one text-center">
                                Anna, The Sales Rep
                            </h3>
                            <p class="text-bg-secondary text-center font-normal mt-4">
                                Supercharge your outbound sales, at scale
                            </p>
                            <ul class="mt-4 list-disc pl-6 marker:text-dark-blue/55">
                                <li>
                                    <p class="text-dark-blue font-light mt-2 text-xs">
                                        Discovers leads with 250 million contacts & 65 data points
                                    </p>
                                </li>
                                <li>
                                    <p class="text-dark-blue font-light mt-2 text-xs">
                                        Discovers leads with 250 million contacts & 65 data points
                                    </p>
                                </li>
                                <li>
                                    <p class="text-dark-blue font-light mt-2 text-xs">
                                        Discovers leads with 250 million contacts & 65 data points
                                    </p>
                                </li>
                                <li>
                                    <p class="text-dark-blue font-light mt-2 text-xs">
                                        Discovers leads with 250 million contacts & 65 data points
                                    </p>
                                </li>
                            </ul>

                            <button class="greadint rounded-3xl text-white py-2 px-6 text-lg mt-4 mx-auto block">Join
                                Waitlist</button>

                        </div>
                    </div>
                    <div class="w-[20rem] bg-bg-primary rounded-xl border border-bg-secondary p-4 relative mt-28 pt-16">
                        <img src="/public/e1.png"
                            class="p-3 border border-bg-secondary w-[8rem] h-[8rem] rounded-full absolute top-[-14%] left-[50%] -translate-x-[50%]" />
                        <div class="mt-4 max-auto">
                            <h3 class="text-xl text-dark-blue font-days-one text-center">
                                Anna, The Sales Rep
                            </h3>
                            <p class="text-bg-secondary text-center font-normal mt-4">
                                Supercharge your outbound sales, at scale
                            </p>
                            <ul class="mt-4 list-disc pl-6 marker:text-dark-blue/55">
                                <li>
                                    <p class="text-dark-blue font-light mt-2 text-xs">
                                        Discovers leads with 250 million contacts & 65 data points
                                    </p>
                                </li>
                                <li>
                                    <p class="text-dark-blue font-light mt-2 text-xs">
                                        Discovers leads with 250 million contacts & 65 data points
                                    </p>
                                </li>
                                <li>
                                    <p class="text-dark-blue font-light mt-2 text-xs">
                                        Discovers leads with 250 million contacts & 65 data points
                                    </p>
                                </li>
                                <li>
                                    <p class="text-dark-blue font-light mt-2 text-xs">
                                        Discovers leads with 250 million contacts & 65 data points
                                    </p>
                                </li>
                            </ul>

                            <button class="greadint rounded-3xl text-white py-2 px-6 text-lg mt-4 mx-auto block">Join
                                Waitlist</button>

                        </div>
                    </div>

                </div>
            </div>

            <section class="mt-20 bg-bg-primary py-14 overflow-hidden relative">
                <div
                    class="bg-[#71A7FF] absolute rounded-full w-[15rem] h-[10rem] -rotate-[105.77deg] top-[10.58px] blur-[110px] z-0">
                </div>
                <div
                    class="bg-[#775AFF] absolute rounded-full w-[10rem] h-[10rem] -rotate-[135.45deg] bottom-0  blur-[110px] z-0">
                </div>
                <div class="bg-[#775AFF] rounded-full absolute w-[15rem] h-[10rem] top-[10px] right-0 blur-[110px]">
                </div>
                <div class="bg-[#71A7FF] rounded-full absolute w-[10rem] h-[10rem] bottom-0 right-0 blur-[110px]"></div>

                <div class="container mx-auto flex flex-col md:flex-row gap-8 relative px-5 z-10">
                    <div class="w-full md:w-[50%] flex flex-col justify-center">
                        <h1 class="text-2xl md:text-4xl font-semibold text-dark-blue font-days-one">
                            Just Chat - Artisans Can Use All Platform Features
                        </h1>



                        <p class="text-dark-blue mt-4">
                            Through our own feature rich SaaS platform and API integrations with other tools you use on
                            a daily basis, Artisans can perform 1000s of tasks with minimal human input.
                        </p>
                        <div class="mt-4">
                            <button class="greadint rounded-3xl text-white py-2 px-6 text-lg">Hire Polymath</button>
                        </div>
                    </div>


                    <div class="w-full md:w-[50%]">
                        <img src="/public/banner1.png" />
                    </div>
                </div>
            </section>

            <section class="py-14 overflow-hidden relative">

                <img src="/public/BG.png" class="absolute bottom-0 left-0 w-[23rem]" />

                <div class="container mx-auto flex flex-col md:flex-row gap-8 relative px-5 z-10">

                    <div class="w-full md:w-[50%]">
                        <img src="/public/banner2.png" />
                    </div>
                    <div class="w-full md:w-[50%] flex flex-col justify-center">
                        <h1 class="text-2xl md:text-4xl font-semibold text-dark-blue font-days-one">
                            They Use Our Feature-Rich SaaS Platform
                        </h1>



                        <p class="text-dark-blue mt-4">
                            We are building a feature-rich SaaS platform which Polumath.Ai operate within.
                            <br />
                            <br />
                            Either you, or your Polymath.Ai, can do anything within the platform.
                            <br />
                            <br />
                            We are developing 100s of features to become the only platform you need.
                        </p>
                        <div class="mt-4">
                            <button class="greadint rounded-3xl text-white py-2 px-6 text-lg">Meet Polymath</button>
                        </div>
                    </div>



                </div>
            </section>


            <section class="bg-bg-primary py-14 overflow-hidden relative">
                <div
                    class="bg-[#71A7FF] absolute rounded-full w-[15rem] h-[10rem] -rotate-[105.77deg] top-[10.58px] blur-[110px] z-0">
                </div>
                <div
                    class="bg-[#775AFF] absolute rounded-full w-[10rem] h-[10rem] -rotate-[135.45deg] bottom-0  blur-[110px] z-0">
                </div>
                <div class="bg-[#775AFF] rounded-full absolute w-[15rem] h-[10rem] top-[10px] right-0 blur-[110px] z-0">
                </div>
                <div class="bg-[#71A7FF] rounded-full absolute w-[10rem] h-[10rem] bottom-0 right-0 blur-[110px] z-0">
                </div>

                <img src="/public/BG2.png" class="absolute bottom-10 -right-20 w-[13rem]" />

                <div class="container mx-auto flex flex-col md:flex-row gap-8 relative px-5 z-10">
                    <div class="w-full md:w-[50%] flex flex-col justify-center">
                        <h1 class="text-2xl md:text-4xl font-semibold text-dark-blue font-days-one">
                            Polymath.AI Automate Job Workflows From End to End
                        </h1>




                        <p class="text-dark-blue mt-4">
                            Chat with your Polymath.Ai via our web chat or Slack app. You can ask them to do task,
                            change settings, do research, or just seek some advice
                            <br />
                            <br />
                            They’ll even send you unpromted updates & suggestions.
                        </p>
                        <div class="mt-4">
                            <button class="greadint rounded-3xl text-white py-2 px-6 text-lg">Meet Polymath.Ai</button>
                        </div>
                    </div>


                    <div class="w-full md:w-[50%]">
                        <img src="/public/banner3.png" />
                    </div>
                </div>
            </section>


            <section class="py-14 overflow-hidden relative">

                <img src="/public/BG3.png" class="absolute top-0 left-0 w-[26rem]" />

                <div class="container mx-auto flex flex-col md:flex-row gap-8 relative px-5 z-10">

                    <div class="w-full md:w-[50%]">
                        <img src="/public/banner4.png" />
                    </div>
                    <div class="w-full md:w-[50%] flex flex-col justify-center">
                        <h1 class="text-2xl md:text-4xl font-semibold text-dark-blue font-days-one">
                            Polymath.Ai Self-Improve Every Single Day
                        </h1>



                        <p class="text-dark-blue mt-4">
                            Through the messages you send to your Polymath.Ai , your Polymath.Ai independent research,
                            the data we collect during your interaction with the dashboard, and new features we
                            introduce, your Artisan is constantly improving.
                        </p>
                        <div class="mt-4">
                            <button class="greadint rounded-3xl text-white py-2 px-6 text-lg">Meet Polymath</button>
                        </div>
                    </div>



                </div>
            </section>


            <div class="mt-10 container mx-auto px-5">
                <h1 class="text-2xl md:text-4xl font-semibold text-dark-blue font-days-one text-center">
                    Artisans
                </h1>


                <div class="flex flex-wrap justify-between items-center mt-10">
                    <div class="w-[20rem] bg-bg-primary rounded-xl border border-bg-secondary p-4 relative mt-20 pt-16">
                        <img src="/public/s2.png" class=" absolute top-[-14%] left-[50%] -translate-x-[50%]" />
                        <div class="mt-4 max-auto">
                            <h3 class="text-xl text-dark-blue font-days-one text-center">
                                Anna, The Sales Rep
                            </h3>
                            <p class="text-bg-secondary text-center font-normal mt-4">
                                Supercharge your outbound sales, at scale
                            </p>
                            <ul class="mt-4 list-disc pl-6 marker:text-dark-blue/55">
                                <li>
                                    <p class="text-dark-blue font-light mt-2 text-xs">
                                        Discovers leads with 250 million contacts & 65 data points
                                    </p>
                                </li>
                                <li>
                                    <p class="text-dark-blue font-light mt-2 text-xs">
                                        Discovers leads with 250 million contacts & 65 data points
                                    </p>
                                </li>
                                <li>
                                    <p class="text-dark-blue font-light mt-2 text-xs">
                                        Discovers leads with 250 million contacts & 65 data points
                                    </p>
                                </li>
                                <li>
                                    <p class="text-dark-blue font-light mt-2 text-xs">
                                        Discovers leads with 250 million contacts & 65 data points
                                    </p>
                                </li>
                            </ul>

                            <button class="greadint rounded-3xl text-white py-2 px-6 text-lg mt-4 mx-auto block">Join
                                Waitlist</button>

                        </div>
                    </div>
                    <div class="w-[20rem] bg-bg-primary rounded-xl border border-bg-secondary p-4 relative mt-20 pt-16">
                        <img src="/public/s2.png" class=" absolute top-[-14%] left-[50%] -translate-x-[50%]" />
                        <div class="mt-4 max-auto">
                            <h3 class="text-xl text-dark-blue font-days-one text-center">
                                Anna, The Sales Rep
                            </h3>
                            <p class="text-bg-secondary text-center font-normal mt-4">
                                Supercharge your outbound sales, at scale
                            </p>
                            <ul class="mt-4 list-disc pl-6 marker:text-dark-blue/55">
                                <li>
                                    <p class="text-dark-blue font-light mt-2 text-xs">
                                        Discovers leads with 250 million contacts & 65 data points
                                    </p>
                                </li>
                                <li>
                                    <p class="text-dark-blue font-light mt-2 text-xs">
                                        Discovers leads with 250 million contacts & 65 data points
                                    </p>
                                </li>
                                <li>
                                    <p class="text-dark-blue font-light mt-2 text-xs">
                                        Discovers leads with 250 million contacts & 65 data points
                                    </p>
                                </li>
                                <li>
                                    <p class="text-dark-blue font-light mt-2 text-xs">
                                        Discovers leads with 250 million contacts & 65 data points
                                    </p>
                                </li>
                            </ul>

                            <button class="greadint rounded-3xl text-white py-2 px-6 text-lg mt-4 mx-auto block">Join
                                Waitlist</button>

                        </div>
                    </div>
                    <div class="w-[20rem] bg-bg-primary rounded-xl border border-bg-secondary p-4 relative mt-20 pt-16">
                        <img src="/public/s2.png" class=" absolute top-[-14%] left-[50%] -translate-x-[50%]" />
                        <div class="mt-4 max-auto">
                            <h3 class="text-xl text-dark-blue font-days-one text-center">
                                Anna, The Sales Rep
                            </h3>
                            <p class="text-bg-secondary text-center font-normal mt-4">
                                Supercharge your outbound sales, at scale
                            </p>
                            <ul class="mt-4 list-disc pl-6 marker:text-dark-blue/55">
                                <li>
                                    <p class="text-dark-blue font-light mt-2 text-xs">
                                        Discovers leads with 250 million contacts & 65 data points
                                    </p>
                                </li>
                                <li>
                                    <p class="text-dark-blue font-light mt-2 text-xs">
                                        Discovers leads with 250 million contacts & 65 data points
                                    </p>
                                </li>
                                <li>
                                    <p class="text-dark-blue font-light mt-2 text-xs">
                                        Discovers leads with 250 million contacts & 65 data points
                                    </p>
                                </li>
                                <li>
                                    <p class="text-dark-blue font-light mt-2 text-xs">
                                        Discovers leads with 250 million contacts & 65 data points
                                    </p>
                                </li>
                            </ul>

                            <button class="greadint rounded-3xl text-white py-2 px-6 text-lg mt-4 mx-auto block">Join
                                Waitlist</button>

                        </div>
                    </div>

                </div>
            </div>



            <section class="py-14 overflow-hidden relative">

                <div class="container mx-auto px-5">

                
                <div class=" relative flex items-center justify-center flex-col rounded-xl p-10 bg-bg-primary overflow-hidden">
                    <img src="/public/line1.png" class="absolute top-0 left-0 w-[20rem] z-10" />
                    <img src="/public/line2.png" class="absolute bottom-0 right-0 w-[20rem] z-10" />
                    <div
                        class="bg-[#71A7FF] absolute rounded-full w-[10rem] h-[10rem] -rotate-[105.77deg] top-[10.58px] left-0 blur-[110px] z-0">
                    </div>
                    <div
                        class="bg-[#775AFF] absolute rounded-full w-[10rem] h-[10rem] -rotate-[135.45deg] bottom-0 left-0 blur-[110px] z-0">
                    </div>
                    <div class="bg-[#775AFF] rounded-full absolute w-[10rem] h-[10rem] top-[10px] right-0 blur-[110px] z-0">
                    </div>
                    <div class="bg-[#71A7FF] rounded-full absolute w-[10rem] h-[10rem] bottom-0 right-0 blur-[110px] z-0">
                    </div>

                    <h1 class="text-2xl md:text-4xl font-semibold text-dark-blue font-days-one text-center relative z-10">
                        Ready to Supercharge Your Team’s Productivity With An Polymath.Ai?
                    </h1>



                    <p class="text-dark-blue mt-4 relative z-10">
                        The age of digital workers is here – join our waitlist to be the first to gain access.
                    </p>
                    <div class="mt-4 relative z-10 flex items-center gap-8">
                        <form action="/checkout" method="post">
                            <button type="submit" class="greadint rounded-3xl text-white py-2 px-6 text-lg">Hire Polymath</button>
                        </form>
                        <button
                        class="bg-light-blue rounded-3xl border border-bg-secondary text-dark-blue py-2 px-6 text-lg">Meet All Polymath.Ai</button>
                    </div>

                </div>
            </div>
            </section>



            <footer class="py-14 overflow-hidden relative">
                <div class="container mx-auto px-5">
                    <h1 class="text-blue text-2xl font-bold">
                        polymath.ai
                    </h1>

                    <div class="flex justify-between items-center my-5 pb-5 border-b border-dark-blue/50">
                        <ul class="flex items-center gap-5">
                            <li>
                                <a href="/" class="text-dark-blue">About us</a>
                            </li>
                            <li>
                                <a href="/" class="text-dark-blue">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="/" class="text-dark-blue">Terms of Use</a>
                            </li>
                            <li>
                                <a href="/" class="text-dark-blue">Cookie Declaration</a>
                            </li>
                        </ul>
                        <ul class="flex items-center gap-5">
                            <li>
                                <a href="/" class="text-dark-blue">
                                    <img src="/public/i1.png"/>
                                </a>
                            </li>
                            <li>
                                <a href="/" class="text-dark-blue">
                                    <img src="/public/i2.png"/>
                                </a>
                            </li>
                            <li>
                                <a href="/" class="text-dark-blue">
                                    <img src="/public/i3.png"/>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <p class="text-dark-blue/50 text-center">
                        &#169 2023 Polymath.ai | All rights reserved
                    </p>
                </div>
            </footer>
        </div>
    </section>




</body>

</html>